.footer {
    background-color: var(--background-color);
    color: var(--primary-color-dark); /* White text color */
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
